:root {
    --main-text-color : #111517;
    --main-bg-color: #fafafa;
    --header-and-item-bg-color: #fff;
    --all-shadow-color: #efefef;
}
.dark-mode {
    --main-text-color : #fff;
    --main-bg-color: #202C36;
    --header-and-item-bg-color: #2B3844;
    --all-shadow-color: #00000007;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
    transition: all 0.5s ease;
}
.site-header {
    background-color: var(--header-and-item-bg-color);
    box-shadow: 0px 2px 4px var(--all-shadow-color);
}
.container {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-box {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo-link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--main-text-color);
    text-decoration: none;
}
.button-box {
    width: 112px;
    display: flex;
    justify-content: space-between;
}
.header-button {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    color: var(--main-text-color);
    border: none;
    cursor: pointer;
}
.filter-section {
    margin-top: 48px;
}
.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    width: 480px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--header-and-item-bg-color);
    box-shadow: 0px 2px 9px var(--all-shadow-color);
    border-radius: 5px;
}
.search_icon {
    margin-left: 32px;
}
.search-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #848484;
    margin-left: 24px;
    border: none;
    background-color: transparent;
}
.search-input:focus {
    outline: none;
}
.filter_by_region {
    width: 200px;
    height: 56px;
    background-color: var(--header-and-item-bg-color);
    box-shadow: 0px 2px 9px var(--all-shadow-color);
    border-radius: 5px;
    border: none;
    padding-left: 24px;
}
.filter_by_region:focus {
    outline: none;
}
.filter_by_region-child {
    color: var(--main-text-color);
}
.contry-section {
    margin-top: 48px;
    margin-bottom: 45px;
}
.contry-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.country-item {
    width: 264px;
    height: 336px;
    background-color: var(--header-and-item-bg-color);
    box-shadow: 0px 0px 7px 2px var(--all-shadow-color);
    border-radius: 5px;
    padding: 0;
    margin-bottom: 67px;
}
.country-item:nth-child(8) {
    margin-right: 0;
}
.country-name {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--main-text-color);
    margin-left: 24px;
}
.country-about-list {
    list-style: none;
    padding: 0;
    margin-left: 24px;
}
.country-about-item-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}